<div style="height: 80vh;">
  <h1>Publitômetro</h1>
<!--mat-toolbar>
   <mat-toolbar-row>
     <button mat-icon-button (click)="sidenav.toggle()" id="toggle-menu">
       <mat-icon>menu</mat-icon>
     </button>
     <div id="menu-horizontal" class="m-auto">
       <a href="#" mat-button>Menu Item 1</a>
       <a href="#" mat-button>Menu Item 2</a>
       <img [src]="'./assets/images/logo-header.png'" alt="" srcset="" id="logo-header">
       <a href="#" mat-button>Menu Item 3</a>
       <a href="#" mat-button>Menu Item 4</a>
     </div>
     <div id="menu-only-logo" class="m-auto">
      <img [src]="'./assets/images/logo-header.png'" alt="" srcset="" id="logo-header">
    </div>
   </mat-toolbar-row>
 </mat-toolbar>

 <mat-sidenav-container id="sidenavcontainer" >
   <mat-sidenav #sidenav>
     <mat-nav-list>
       <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
       <a href="#" mat-list-item>Menu Item 1</a>
       <a href="#" mat-list-item>Menu Item 2</a>
       <a href="#" mat-list-item>Menu Item 3</a>
       <a href="#" mat-list-item>Menu Item 4</a>
     </mat-nav-list>
   </mat-sidenav>
   <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
 </mat-sidenav-container-->
</div>
   
