<img [src]="'./assets/images/img-header.jpg'" alt="" srcset="" id="logo-header" class="w-100">
<section class="section green" *ngIf="pageData">
    <h2>{{pageData.titulo}}</h2>
    <p [innerHTML]="pageData.conteudo"></p>
</section>
<section class="section lojas">
    <h2>Lojas e serviços</h2>
    <div class="text-center">
        <mat-form-field appearance="outline" class="m-auto">
            <mat-label for="search">Digite o que procura...</mat-label>
            <input type="input" matInput id="search" [(ngModel)]="searchTerm" (ngModelChange)="getLoja()"/>
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field>
    </div>
    <div class="cont-lojas" *ngIf="lojaList">
        <div class="cham-loja" *ngFor="let loja of lojaList">
            <img [src]="loja.imagem_url" alt=""/>
            <h5>{{loja.titulo}} - <span class="text-amarelo">{{loja.area_atuacao}}</span></h5>
            <hr>
            <a href="{{loja.link_rede_social}}" target="_blank"><span class="link_{{loja.tipo_rede_social}}" > {{loja.rede_social}}</span></a>
            <span class="tel">{{loja.telefone}}</span>        
        </div>
    </div>
</section>
<section class="section green">
    <h2>contato</h2>
    <div >
        <form id="contact-form" class="cont_two_column" [formGroup]="formGroup" (ngSubmit)="sendMail()" >
          <div class="item">
            <input type="text" id="nome" formControlName="nome" required placeholder="Nome">
            <input type="email" id="remetente" formControlName="remetente" required placeholder="E-mail">
            <input type="tel" id="telefone" formControlName="telefone" required placeholder="Telefone">
            <!--input type="hidden" id="destinatario" name="destinatario" [value]="configData.email"-->
          </div>
          <div class="item">
            <textarea id="mensagem" formControlName="mensagem" required placeholder="Mensagem"></textarea>
            <button type="submit" >Enviar</button>
          </div>
        </form>
    </div>
    <a href="#" class="link_instagram" *ngIf="configData">{{configData.instagram}}</a>
    <h2 class="mt-5">como chegar</h2>
    <div *ngIf="configData" [innerHTML]="configData.mapa"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d577.9039917386427!2d-38.48537121989713!3d-12.993638587706268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x716052eac44ba47%3A0x5d33db344c8a5c2e!2sH%20Mall!5e0!3m2!1spt-BR!2sbr!4v1697505856652!5m2!1spt-BR!2sbr" width="100%" height="204" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <div id="contact-info" class="cont_two_column">
        <div class="item">
            <span class="endereco" *ngIf="configData" [innerHTML]="configData.endereco">
            </span>
        </div>
        <div class="item">
            <span class="horario" *ngIf="configData" [innerHTML]="configData.horario_funcionamento">
               <!-- Segunda a sexta - <B>9h às 20h</B><br>
                Sábado - <B>9h às 14h</B><br>
                <sub>
                    Os restaurantes funcionam em horário independente  do shopping
                </sub-->
            </span>
        </div>
    </div>

    <img [src]="'./assets/images/logo-footer.png'" alt="" srcset="" id="logo-footer" >

</section>