/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';
@import 'variables.scss';

html, body { height: 100%; }

.toast-position{
    top: 50px;
    bottom: 30px;
    right: 10px;
  }

  body {
    display: flex;
    justify-content: center;
    height: 100%;
    
}

button {
  background-image: linear-gradient(to top, #B8764D 0%, #DFA684 50%);
  color: white;
  padding: 6px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

*{
  font-family: 'Montserrat', sans-serif !important;
  font-size: 15px;
}

app-root{
  width: 100%;
  max-width: 952px;
}

mat-icon{
  font-family: "Material Icons" !important;
}

.menu-spacer {
  flex: 1 1 auto;
}

#toggle-menu{
  display: none;
}

#menu-horizontal, #menu-only-logo{
  display: block;
  #logo-header{
    margin-top: 40px;
  }
  a{
    font-weight: $font-bold;
    color: $cor-branco;
    text-transform: uppercase;
    margin: -20px 10px 0 10px;
    span{
      font-size: 12px;
    }
  }
}

#menu-only-logo{
  display: none;
}

#logo-header{
  z-index: 9999;
  position: relative;
}

.mat-toolbar{
  height: 112px;
  background: $cor-verde !important;
}

@media only screen and (max-width: 700px) {
  #toggle-menu{
    display: block;
  }
  #menu-horizontal{
    display: none;
  }

  #menu-only-logo{
    display: block;
  }
}

.form-container {
  max-width: 800px;
  margin: 0 auto;
}

#contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  label, input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: 0;
    background: #D9D9D9;
    padding: 5px;
  }
  textarea {
    height: 71px;
  }
  .form-column {
    flex: 1;
    max-width: calc(50% - 10px);
  }
  button {
    width: 100%;
  }
    
}

.link_instagram,.link_facebook,.link_site, .link_twitter{
  color: $cor-dourado-claro;
  text-decoration: none;
  font-size: 12px;
  font-weight: $font-medium;
  margin-top: 10px;
  display: block;
  &::before{
    content: '';
    background: url('/assets/images/icon-instagram.png') no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block !important;
    position: relative;
    margin: -8px 3px;
  }
}

.link_site{
  &::before{
    background: url('/assets/images/icon-site.png') no-repeat;
  }
}

.link_facebook{
  &::before{
    background: url('/assets/images/icon-facebook.png') no-repeat;
  }
}

.link_twitter{
  &::before{
    background: url('/assets/images/icon-twitter.png') no-repeat;
  }
}

#contact-info {

  >div {
    flex: 1;
    max-width: calc(50% - 10px);
    color: $cor-dourado-claro;

    .endereco{
      padding-left: 44px;
      display: block;
      margin-top: 20px;
    }

    .horario{
      padding-left: 44px;
      display: block;
      margin-top: 20px;
    }

    .endereco::before,.horario::before{
      content: "";
      background: url(/assets/images/icon-endereco.png) no-repeat;
      width: 30px;
      height: 40px;
      display: block !important;
      position: absolute;
      margin: -2px -40px;
    }

    .horario::before{
      background: url(/assets/images/icon-horario.png) no-repeat;
    }
      
    }
  }

  #logo-footer {
    margin: 60px auto;
    display: block;
}

.cont_two_column {
  @include basic-column();

  .item {
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
  
    @media screen and (max-width: 480px) {
      width: 100%; // 1 coluna em telas ainda menores
    }
  }
}
    